{% extends "main_template.html" %}
{% block content %}
    <div class="container">
        <h2>Регистрация</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="mt-4 mb-4 shadow-sm rounded p-3 content-section">
                <fieldset class="form-group text-18">
                    <legend class="border-bottom border-secondary pb-2 mb-2">Основные данные</legend>
                    <div class="form-group pt-4">
                        {{ form.username.label(class="form-control-label") }}

                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group mt-3">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group mt-3">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group mt-3 mb-2">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
            </div>
            <div class="mt-4 mb-4 p-3 shadow-sm rounded content-section">
                <fieldset class="form-group text-18">
                    <legend class="border-bottom mb-2 pb-2 border-secondary">Дополнительные данные</legend>
                    <div class="form-group pt-4">
                        {{ form.first_name.label(class="form-control-label") }}

                        {% if form.first_name.errors %}
                            {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.first_name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group mt-3">
                        {{ form.last_name.label(class="form-control-label") }}

                        {% if form.last_name.errors %}
                            {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.last_name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group mt-3 mb-3">
                        {{ form.phone.label(class="form-control-label") }}

                        {% if form.phone.errors %}
                            {{ form.phone(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.phone.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
            </div>
            <div class="form-group mt-2 mb-4">
                {{ form.submit(class="btn btn-success btn-lg") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3 mt-3">
        <small class="text-dark">
            Уже есть аккаунт? <a class="ml-2" href="{{ url_for('login') }}">Войти</a>
        </small>
    </div>
{% endblock content %}